<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;  charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Traffic Accident Analysis Reset Password</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
        }

        .button {
            display: inline-block;
            padding: 12px 24px;
            font-size: 1rem;
            font-weight: bold;
            color: white;
            background-color: #4CAF50;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
        }
        .button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<p>Hello <b th:text="${username}"></b>,</p>
<p>
    Please click on the link below to proceed with password reset:
</p>
<a th:href="@{${base_url} + '?token=' + ${reset_password_token}}" class="button">Reset Password</a>
</body>
</html>